/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */



#sidebar {
    min-width: 350px;
    max-width: 350px;
    height: 100vh;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}
.card-header{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

